/* Header */

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    z-index: 1000;
}

.header__inner {
    grid-column: 3 / 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__inner-logo {
    cursor: pointer;
}

.header__text {
    color: #ffffff;
    margin: auto 0;
    font-size: 34px;
    font-weight: 400;
    font-family: Raleway;
}

.nav {
    display: flex;
    font-size: 14px;
    font-weight: 200;
    font-family: Montserrat;
    align-items: center;
}

.nav__link {
    color: #ffffff;
    margin: auto 12px;
    text-decoration: none;
    white-space: nowrap;
    transition: color .1s linear;
}

.nav__link:hover {
    color: #c7b299;
    cursor: pointer;
}

.nav__link.last {
    margin-right: 60px;
}

.nav__link.search {
    margin-right: 0;
}

.nav__link-img {
    width: 18px;
    height: 24px;
}

@media screen and (max-width: 1040px) {
    .nav {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header__inner-logo_img {
        height: 40px;
        width: auto;
    }
    .header__text {
        font-size: 24px;
    }
}