/* The first view */

.intro {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: url("../images/intro/background-photo.png") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s linear;
}

.intro.hidden {
    opacity: 0;
    transition: opacity 1s linear;
}

.intro__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro__inner-body {
    grid-column: 4 / 10;
}

.intro__inner-left {
    margin: auto;
    grid-column: 1 / 4;
    cursor: pointer;
}

.intro__inner-right {
    margin: auto;
    grid-column: 10 / 13;
    cursor: pointer;
}

.intro__suptitle {
    color: #ffffff;
    font-family: Raleway;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
}

.intro__title {
    color: #ffffff;
    font-family: Raleway;
    font-weight: 900;
    font-size: 52px;
    margin-top: 8px;
    text-align: center;
}

.intro__subtitle {
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 200;
    font-size: 16px;
    margin-top: 14px;
    max-width: 600px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 55px;
    text-align: center;
}

.intro__tracker {
    position: absolute;
    bottom: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.intro__tracker-item {
    margin: 0 5px;
}

@media screen and (max-width: 768px) {
    .intro__inner-body {
        grid-column: 3 / 11;
    }
    .intro__suptitle {
        font-size: 24px;
    }
    .intro__title {
        font-size: 36px;
    }
    .intro__subtitle {
        font-size: 16px;
    }
    .intro__inner-left {
        grid-column: 1 / 2;
        padding-left: 10px;
    }
    .intro__inner-right {
        grid-column: 12 / 13;
        padding-right: 10px;
    }
}